body{
    background: linear-gradient(#e66465, #9198e5);
}
.timer{
    margin-left: 35%;
    margin-top: 5%;
    height: 550px;
    width: 550px;
    background: #ccc;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    border-radius: 50%;
    background-color: aqua;
}
.timer__item{
    background: #1b566f;
    width: 490px;
    height: 490px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    border-radius: 50%;
}

button{
    height: 50px;
    width: 140px;
    margin-left: 560px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-color: aqua;
    font-family: "Dialog";
    color: #523F3CFF;
}
h1{
    font-size: 100px;
    margin: 10px;
    background-color: aqua;
    color: white;
    font-family: monospace;
    color: #523f3c;

}